extends layout

block content

  div.main
    h1.baetitle WHO IS YOUR WORK BAE
  div
    div.centerbae
        div.baebackground
        div.baehead
  div.cta
     h3=redirectlink
     a(href=redirecturl) LOGIN FOR BAE

  

    
