extends layout

block content

  div.main
    h1.baetitle WHO B UR WERK BAE
  div
    div.centerbae
        div.baebackground
        div.baehead
  div.cta
     h3.status=redirectlink
     a(href=redirecturl class=isAuthorized==true ? "hide" : "show") LOGIN FOR BAE
     h3#result.result.hide Result is ....
  audio.thugaudio(preload="auto")
      source(src="../audio/thug.mp3",type="audio/mpeg")
      
     
  

    
